<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="icon" href="/icon/favicon-96x96.png">
  <link rel="stylesheet" href="/css/m_how.css">
  <link rel="stylesheet" href="/css/m_style.css">
  <title>BookCheck_m_how</title>
</head>
<th:block th:replace="/layout/adminHeader:: adminHeaderFragment"></th:block>
      <!-- START container -->
      <div id="container" class="grid-item2">
        <!-- <div id="main_banner">
          <img src="img/pexels-hailey-galloway-4825139.jpg" alt="메인배너" width="100%">
        </div> -->
        <!-- content -->
        <div id="content">
          <div class="wrap_section">
            <div id="noti" class="m_how_edit_check">
              <div class="title">
                <a href="/admin/review/add">어때책첵 쓰기</a>
              </div>
              <div class="noti_list">
              	<form action="/admin/review/add">
                <input type="month" id="month" name="month">
                <input type="submit" value="확인" id="m_how_sub">
               	</form> 
                <div class="notice" th:each="review:${review}">
                  <a th:href="@{/admin/review/edit/} + ${review.id}">
                    <p th:text="${review.month}">월</p>
                    <p th:text="${review.week}">주</p>
                    <img th:src="@{/files/} + ${review.fileName}" alt="이미지">
                    <p><b th:text="${review.title}">도둑맞은 집중력</b>을 읽고 함께 이야기 나눠요.</p>
                    <p th:text="${review.content}">마포구 채그로 북카페에서 13명이 모였어요.</p>
                  </a>
                  <div class="btns">
                    <span>
                    <form th:action="@{/admin/review/delete/} + ${review.id}" method="post" style="display: inline-block" onsubmit="return handleSubmit()">
                    <button type="submit" class="modify">삭제</button>
                    </form>
                    <form th:action="@{/admin/review/edit/} + ${review.id}" method="get" style="display: inline-block">
                      <button type="submit" class="modify" id="second_modifiy">수정</button>
                    </form>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<th:block th:replace="/layout/adminFooter:: adminFooterFragment"></th:block>