<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="icon" href="/icon/favicon-96x96.png">
  <link rel="stylesheet" href="/css/m_how_editForm.css">
  <link rel="stylesheet" href="/css/m_style.css">
  <title>BookCheck_m_how_editForm</title>
</head>
<th:block th:replace="/layout/adminHeader:: adminHeaderFragment"></th:block>
      <!-- START container -->
      <div id="container" class="grid-item2">
        <!-- content -->
        <div id="content">
          <div class="wrap_section">
            <div id="noti">
              <div class="icon_back">
                <a href="/admin/review"><img src="/img/arrow_back.png" alt="뒤로" width="27px"></a>
              </div>
              <div class="title">
                <p>어때책첵 수정</p>
                <form th:action="@{/admin/review/edit/} + ${review.id}" enctype="multipart/form-data" method="post">
                  <table class="noti_form_table">
                    <tr>
                      <td>
                        <input multiple type="file" name="file">
                        <img id="preview">
                      </td>
                    </tr>
                    <tr>
                      <input type="hidden" name="id" th:value="${review.id}">
                      <td><input type="month" name="month" th:value="${review.month}"></td>
                    </tr>
                    <tr>
                      <td><select name="week" th:value=${review.week}>
                          <option value="첫째주">첫째주</option>
                          <option value="둘째주">둘째주</option>
                          <option value="셋째주">셋째주</option>
                          <option value="넷째주">넷째주</option>
                        </select></td>
                    </tr>
                    <tr>
                      <td>
                      	<img th:src="@{/files/} + ${review.fileName}" width="770" alt="이미지"><br/><br/>
                        <textarea placeholder="책 제목을 입력하세요." name="title" th:text="${review.title}"></textarea>
                        <textarea placeholder="기록 내용을 입력하세요." name="content" th:text="${review.content}"></textarea>
                      </td>
                    </tr>
                  </table>
                  <input type="submit" value="완료" required>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
<th:block th:replace="/layout/adminFooter:: adminFooterFragment"></th:block>