<th:block th:fragment="adminHeaderFragment">
    <body>
    <dl class="skip-nav">
        <dt class="blind"><strong>skip navigation</strong></dt>
        <dd><a href="/user/main">skip to main</a></dd>
        <dd><a href="/user/how">skip to how</a></dd>
        <dd><a href="/user/chart">skip to chart</a></dd>
        <dd><a href="/user/share">skip to with</a></dd>
        <dd><a href="/user/noti">skip to noti</a></dd>
        <dd><a href="/user/join">skip to join</a></dd>
        <dd><a href="#Footer">skip to footer</a></dd>
    </dl>
    <!-- START -->
    <div class="whole_page">
    </div>
    <div id="wrap" class="grid-container">
        <div id="side_header" class="grid-item1">
            <div class="header_content">
                <div class="logo">
                    <h1>
                        <a href="/admin/noti" title="메인페이지"><img src="/img/logo_m_fin.png" alt="책첵logo" width="90rem"></a>
                    </h1>
                </div>
                <div class="gnb">
                    <ul>
                        <li><a href="/admin/noti">공지사항</a></li>
                        <li><a href="/admin/review">어때책첵</a></li>
                    </ul>
                </div>
            </div>
        </div>
</th:block>
