<th:block th:fragment="footerFragment">
    <!-- START aside -->
    <div id="aside" class="grid-item3">
        <div class="new_together">
            <p>책첵 멤버로 시작하기</p>
            <div class="new_login" th:if="${#httpSession ne null and #httpSession.getAttribute('SPRING_SECURITY_CONTEXT') ne null}">
                <a href="/logout">로그아웃</a>
            </div>
            <div class="new_login" th:if="${#httpSession == null or #httpSession.getAttribute('SPRING_SECURITY_CONTEXT') == null}">
                <a href="/user/login">로그인</a>
                <a href="/user/join">회원가입</a>
            </div>
        </div>
        <div class="aside_content">
            <div class="noties">
                <div class="simple_noti" th:each="noti:${noti}">
                    <a href="/user/noti/{n_no}">
                        <h3 th:text="${noti.n_title}"></h3>
                        <p th:text="${noti.n_content}"></p>
                    </a>
                </div>
            </div>
            <!-- footer -->
            <div id="side_footer">
                <div class="footer">
                    <ul>
                <span>
                <li><a href="/user/terms">이용약관</a></li>
                <li><a href="/user/privacy">개인정보처리방침</a></li>
                </span>
                        <span sec:authorize="hasRole('ROLE_ADMIN')">
                <li><a href="/admin/noti">관리자페이지</a></li>
                </span>
                    </ul>
                    <div>
                        <p>&copy;BOOKCHECK ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    </body>
</th:block>
</html>