<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나눔책첵 신청하기</title>
  <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
  <link rel="icon" href="/icon/favicon-96x96.png">
  <link rel="stylesheet" href="/css/u_share_addForm.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body id="wrap">
  <dl class="skip-nav">
    <dt class="blind"><strong>skip naviation</strong></dt>
    <dd><a href="/user/main">skip to main</a></dd>
    <dd><a href="/user/how">skip to how</a></dd>
    <dd><a href="/user/chart">skip to chart</a></dd>
    <dd><a href="/user/share">skip to share</a></dd>
    <dd><a href="/user/noti">skip to noti</a></dd>
    <dd><a href="/user/join">skip to join</a></dd>
    <dd><a href="#footer">skip to footer</a></dd>
  </dl>
  <!-- START -->
  <div class="whole_page">
    <div id="wrap" class="grid-container">
      <div id="side_header" class="grid-item1">
        <div class="header_content">
          <div class="logo">
            <h1>
              <a href="/user/main" title="메인페이지"><img src="/img/logo_fin.png" alt="책첵logo" width="90rem"></a>
            </h1>
          </div>
          <div class="gnb">
            <ul>
              <li><a href="/user/main">홈</a></li>
              <li><a href="/user/how">어때책첵</a></li>
              <li><a href="/user/chart">분석책첵</a></li>
              <li><a href="/user/share">나눔책첵</a></li>
            </ul>
            <hr>
            <p><a href="/user/noti">공지사항</a></p>
          </div>
        </div>
      </div>

      <!-- 나눔 도서등록 시작 -->
      <div class="container join_check">
        <a href="/user/share"><img src="/img/arrow_back.png" alt="뒤로가기"></a>
        <div class="explain">
          <b>책첵 나눔도서 등록</b>
          <span>함께 책첵 체크리스트를 공유하고 싶다면 신청해주세요. <br>
            함께 나누고 싶은 도서를 등록하시고,<br>직접 신청자를 선택해 공유하실 수 있습니다.</span>
        </div>
        <form action="/user/share/add" method="post">
          <div>
            <img src="/img/배경없는로고.png" alt="신청하기_로고">
          </div>
          <div>
            <div>
              <input type="hidden" th:value="${userId}">
              <p>등록자</p>
              <input type="text" name="name" id="name" th:value="${name}" readonly>
              <hr>
            </div>
            <div>
              <p>도서명</p>
              <input type="text" name="title" id="title" placeholder="도서명을 입력해주세요." autofocus required>
              <hr>
            </div>
            <div>
              <p>한줄평</p>
              <textarea name="memo" id="memo" cols="30" rows="10" required></textarea>
            </div>
            <div class="local">
              <p>나눔지역</p>
              <select name="area" id="area">
                <option value="서울 서대문구">서울 서대문구</option>
                <option value="서울 마포구">서울 마포구</option>
                <option value="서울 종로구">서울 종로구</option>
                <option value="서울 강남구">서울 강남구</option>
                <option value="서울 영등포구">서울 영등포구</option>
                <option value="서울 중구">서울 중구</option>
              </select>
            </div>
          <input type="submit" value="나눔등록">
          </div>
        </form>
      </div>

      <!-- START aside -->
      <div id="aside" class="grid-item3">
        <!-- ////////////////////////////////////// -->
        <div class="new_together">
          <p>책첵 멤버로 시작하기</p>
          <div class="new_login" th:if="${#httpSession ne null and #httpSession.getAttribute('SPRING_SECURITY_CONTEXT') ne null}">
            <a href="/logout">로그아웃</a>
          </div>
          <div class="new_login" th:if="${#httpSession == null or #httpSession.getAttribute('SPRING_SECURITY_CONTEXT') == null}">
            <a href="/user/login">로그인</a>
            <a href="/user/join">회원가입</a>
          </div>
        </div>
        <!-- ///////////////////////////////////////// -->
        <div class="aside_content">
          <div class="noties">
            <div class="simple_noti" th:each="noti:${noti}">
              <a href="/user/noti/{n_no}" >
                <h3 th:text="${noti.n_title}"></h3>
                <p th:text="${noti.n_content}"></p>
              </a>
            </div>
          </div>
          <!-- footer -->
          <div id="side_footer">
            <div class="footer">
              <ul>
                <li><a href="/user/terms">이용약관</a></li>
                <li><a href="/user/privacy">개인정보처리방침</a></li>
                <li><button class="btn_modal">관리자페이지</button></li>
              </ul>
              <div>
                <p>&copy;BOOKCHECK ALL RIGHTS RESERVED</p>
              </div>
            </div>
          </div>
          <!-- modal -->
          <div id="modal" class="pw_modal">
            <div class="modal_wrap">
              <div class="modal_header">
                <p class="pw_text">관리자 비밀번호를 입력하세요.</p>
              </div>
              <div class="modal_content">
                <!-- x 버튼 -->
                <div class="description_head">
                  <button class="pw_btn_close">&times;</button>
                </div>
                <!-- m_noti.html 연결 -->
                <form action="/manager/noti" method="post" name="maneger_pw_form" class="description_header" target="_blank">
                  <input type="password" maxlength="6" placeholder=" 비밀번호를 입력하세요." title="숫자 4자리 이상" pattern="[0-9]+"
                    id="pwd" name="pwd" required>
                  <button type="submit" minlength="4" onclick="return checkPwd()">확인</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>